body {
    font-family: 'Poppins', sans-serif !important;
    /*background-color: #222e4e;*/
}
.index_body{
    background: linear-gradient(rgb(0 0 0 / 45%), rgb(0 0 0 / 45%)),url(../img/bg1.jpeg);
    /*background:rgba(255, 0, 0, 0.25), url(../img/bg1.jpeg);*/
    /*background-image: url(../img/bg1.jpeg);*/
    background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
.bank-body{
    background: linear-gradient(rgb(0 0 0 / 45%), rgb(0 0 0 / 45%)),url(../img/bg2.jpeg);
    /*background-image: url(../img/bg2.jpeg);*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;  
}
.pool-body{
    background: linear-gradient(rgb(0 0 0 / 45%), rgb(0 0 0 / 45%)),url(../img/bg2.jpeg);
    /*background-image: url(../img/bg2.jpeg);*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;  
}
.bg-dark-blue {
    background-color: #082f5b;
}
 /* *************** footer area css start**************** */
 .copy-right, .menu_footer {
    display: flex;
    align-items: center;
    height: 100%;
}